/*ovveride logo*/
.skin-green .main-header .logo {
    min-height: 61px;
}

.skin-green-light .main-header .logo {
    background-color: #06d79c ;
}

/*custom box card*/
.box .fx-card-item {
    padding-bottom: 0px;
    min-height: 150px;
    height: 150px;
}

.box .fx-card-item .fx-overlay-1{
    min-height: 150px;
}

/*custom error page*/
.error-page .empty-data{
    width: 360px;
    margin: auto;
}

.dd-list .dd-item  .dd-handle {
    height: auto;
}

.dd {
    max-width: 100%;
}

.dd-handle .media .media-body .subtitle{
    font-size: 10px;
    font-face: italic
}



